/*
Credits to trvr on code pen.
*/
.preloader{
  background: #333;
  min-height: 100%; 
  min-width:  100%;
  width: auto;
  height: auto;
  z-index: 999;
  overflow: visible;
}

ul {
  text-align: center;
  font-size: 0;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -22px;
}
ul li {
  display: inline-block;
  width: 8px;
  height: 45px;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  animation: colorbars 333ms alternate infinite cubic-bezier(0.2, 0, 0.5, 1);
}

.one {
  background: #2776b7;
  border-radius: 3px 0 0 3px;
}

.two {
  background: #328fc5;
}

.three {
  background: #56b4d4;
}

.four {
  background: #61ca8c;
}

.five {
  background: #c5e9ae;
  border-radius: 0 3px 3px 0;
}

li:nth-of-type(1) {
  animation-delay: 111ms;
}

li:nth-of-type(2) {
  animation-delay: 222ms;
}

li:nth-of-type(3) {
  animation-delay: 333ms;
}

li:nth-of-type(4) {
  animation-delay: 444ms;
}

li:nth-of-type(5) {
  animation-delay: 555ms;
}

@keyframes colorbars {
  to {
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px);
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
}
