::-webkit-scrollbar {
    display: none;
}
:root {
    --hover-width: 80%;
    --hover-height: 80%;
    --other-height: calc(20% / 3);
    --other-width: calc(20% / 3);
    --expand-width: 100%;
    --closed-width: 0%;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: square
}
.underConstructionHeader {
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    color: white;
    text-shadow: 1px 1px 8px #d3d3d3;
    text-decoration-color: #FFF;
    font-weight: 100;
}
.underConstructionText {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 8px #d3d3d3;
    text-decoration-color: #FFF;
    font-weight: 100;
}
.underConstructionFooter {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 8px #d3d3d3;
    text-decoration-color: #FFF;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.underConstructionContainer {
    bottom: 50%;
    width: 100%;
}
.underConstructionBG {
    background: #21252b;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

.underConstructionLinks a {
    color: rgba(255, 255, 255, .75);
    font-size: 1.44em;
    text-decoration: none;
}

.underConstructionLinks a:focus, a:hover {
    color: #fff;
}
.footerGithubConst {
    padding-bottom: 2.2px;
    width: 64px;
    height: 64px;
}
.footerTwitterConst {
    padding-bottom: 1.6px;
    width: 44px;
    height: 44px;
}
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #21252b;
}
p {
    font-family: inherit;
    font-weight: 300;
}
.ericHeader {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-decoration-color: #FFF;
    text-shadow: 1px 1px 8px #d3d3d3;
}
.footerGithub {
    padding-bottom: 2.2px;
    width: 32px;
    height: 32px;
}
.footerTwitter {
    padding-bottom: 1.6px;
    width: 24px;
    height: 24px;
}
.footerIcons {
    margin-right: -15px;
    opacity: .5;
}
.footerIcons:hover {
    opacity: 1;
}
.ideaTitles {
    text-align: center;
    font-weight: 100;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.4;
    left: 0;
}
.text {
    color: #191919;
    font-size: 280%;
    background-color: rgba(255, 255, 255, 0.92);
    width: 100%;
    height: 100%;
    line-height: 100px;
    text-align: center;
    /*z-index: 10;*/
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    position: absolute;
    border-radius: 5px;
}
.expandElement {
    position: relative;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: all ease-out .3s;
}
.expand {
    margin-right: 0;
    margin-top: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
}
.overlayImg {
    opacity: 1;
    width: auto;
    height: auto;
    border-radius: 5px;
    max-height: 100%;
    max-width: 100%;
}
.text:hover {
    opacity: 1;
}
.ideaIWrapper {
    padding-top: 20px;
    background-size: cover;
    overflow: hidden;
    display: block;
    z-index: 1;
}
.fade {
    opacity: 2;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.fade:hover {
    opacity: .5;
}
.white {
    color: #fff;
    font-size: 100px;
    padding-top: 10px;
}
.welcomeText {
    vertical-align: middle;
}
.bg-vid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    height: 100%;
    width: 100%;
    position: absolute;
}
.slideContent {
    width: 100%;
    height: 100%;
}
.landingSlide {
    margin-top: 30%;
    vertical-align: center;
}
.aboutSlide {
    padding-top: 300px;
    padding-bottom: 100px;
}
img.scrollDown {
    width: 80px;
    height: 80px;
    margin: 30px;
    opacity: 1;
}
img.scrollDown:hover {
    opacity: .55;
}
.graphicDesignSlide {
    width: inherit;
    margin-top: 50px;
    height: 100%;
    position: relative;
}
.curtainContainer {
    width: 100%;
    height: 100%;
    position: relative;
}
.curtainContainer .curtain {
    width: 300%;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 25%;
    left: 0;
    opacity: 0;
}
.curtainContainer .copy {
    position: absolute;
    bottom: 30%;
    left: 0;
    width: 100%;
    text-align: center;
}
.curtainContainer .copy h2 {
    text-align: left;
    vertical-align: middle;
    font-size: 50px;
    padding: 10px;
}
.curtainContainer .copy p {
    text-align: left;
    font-size: 30px;
    vertical-align: middle;
    width: 45%;
    padding-left: 15px;
}
.darkenOverlay {
    background-color: #898989;
    opacity: .43;
}
.btn-info {
    background-color: dimgrey;
    width: 35%;
    height: 40px;
    font-size: 20px;
}
.btn-info:hover {
    background-color: darkgrey;
}
.btn-info:active {
    background-color: darkgrey;
}
#About-Slide .slideContent {
    min-height: 800px;
    text-align: center;
    vertical-align: middle;
}
#About-Slide .bcg {
    background-image: url(/img/code.PNG);
}
#idea1, #idea2, #idea3, #idea4, #idea5 {
    width: 200px;
    height: inherit;
}
#pic1 {
    padding-left: inherit;
    height: inherit;
}
#pic2 {
    padding-left: inherit;
    height: inherit;
}
#pic3 {
    padding-left: inherit;
    height: inherit;
}
#pic4 {
    padding-left: inherit;
    height: inherit;
}
#pic5 {
    padding-left: inherit;
    height: inherit;
}
#pic6 {
    padding-left: inherit;
    height: inherit;
}


/*#graphicDesign-Slide-1 .bcg {
    */
/*background-image: url(../img/misty%20pountains.png);
*/
/*f
}
*/
/*#graphicDesign-Slide-2 .bcg {
    */
/*background-image: url(../img/Postcard%20extra%20credit.png);
*/
/*
}
*/
/*#graphicDesign-Slide-3 .bcg {
    */
/*background-image: url(../img/Dragon.png);
*/
/*
}
*/
/*#graphicDesign-Slide-4 .bcg {
    */
/*background-size: cover;
*/
/*background-image: url(../img/new%20horizons%20logo.png);
*/
/*
}
*/
/*#graphicDesign-Slide-5 .bcg {
    */
/*background-size: cover;
*/
/*background-image: url(../img/Great%20Arc%20Studios%20logo.png);
*/
/*
}
*/
/*#graphicDesign-Slide-6 .bcg {
    */
/*background-size: contain;
*/
/*background-image: url(../img/Playing%20Card3-03.png);
*/
/*
}
*/
/*#graphicDesign-Slide-7 .bcg {
    */
/*background-size: contain;
*/
/*background-image: url(../img/typographic%20puma.png);
*/
/*
}
*/
/*.pauseMenuSlide {
    */
/*width: inherit;
*/
/*margin-top: 50px;
*/
/*height: 100%;
*/
/*position: relative;
*/
/*
}
*/
/*#pauseMenu-Slide-1 .bcg {
    */
/*background-size: contain;
*/
/*background-image: url(../img/Pause%20Menu%20Banner.png);
*/
/*
}
*/
/*#pauseMenu-Slide-2 .bcg {
    */
/*background-size: contain;
*/
/*background-image: url(../img/github.png);
*/
/*
}
*/
/*#pauseMenu-Slide-3 .bcg {
    */
/*background-size: cover;
*/
/*background-image: url(../img/5%20star%20rating.png);
*/
/*
}
*/
/*#pauseMenu-Slide-4 .bcg {
    */
/*background-size: cover;
*/
/*background-image: url(../img/Users.png);
*/
/*
}
*/
.unitySlide {
    width: inherit;
    margin-top: 50px;
    height: 100%;
    position: relative;
}

/*#unitySlide-Slide-05 .bcg {
    */
/*background-size: cover;
*/
/*background-image: url(../img/Audio%20Visualizer.PNG);
*/
/*
}
*/
/*#unitySlide-Slide-06 .bcg {
    */
/*background-size: cover;
*/
/*background-image: url(../img/Audio%20Visualizer%203.PNG);
*/
/*
}
*/
/*#unitySlide-Slide-07 .bcg {
    */
/*background-size: cover;
*/
/*background-image: url(../img/Audio%20visualizer%202.PNG);
*/
/*
}
*/
/*#unitySlide-Slide-01 .bcg {
    */
/*background-size: cover;
*/
/*background-image: url(../img/new%20horizons%20logo.png);
*/
/*
}
*/
/*#unitySlide-Slide-02 .bcg {
    */
/*background-size: cover;
*/
/*background-image: url(../img/Island%20beach%2043.PNG);
*/
/*
}
*/
/*#unitySlide-Slide-03 .bcg {
    */
/*background-size: cover;
*/
/*background-image: url(../img/Island%20beach%2044.PNG);
*/
/*
}
*/
/*#unitySlide-Slide-04 .bcg {
    */
/*background-size: cover;
*/
/*background-image: url(../img/forest%2074.PNG);
*/
/*
}
*/
#panel {
    margin: 10px;
    background-color: #505050;
    border-radius: 4px;
}
.equatorMusic {
    width: inherit;
    margin-top: 50px;
    height: 100%;
    position: relative;
}

/*#equatorMusic-Slide-1 .bcg {
    */
/*background-size: cover;
*/
/*background-image: url(../img/Desktop%20HD.png)
}
*/
/*#equatorMusic-Slide-2 .bcg {
    */
/*background-size: contain;
*/
/*background-image: url(../img/Equator%20Concept%2012-31-16.png);
*/
/*
}
*/
/*#equatorMusic-Slide-3 .bcg {
    */
/*background-size: auto;
*/
/*background-image: url(../img/Equator%20logo%20.png);
*/
/*
}
*/
/*#equatorMusic-Slide-4 .bcg {
    */
/*background-size: contain;
*/
/*background-image: url(../img/equator%20ui.PNG);
*/
/*
}
*/
/*#academics-Slide-1 .bcg {
    */
/*background-size: contain;
*/
/*background-image: url(../img/Equator%20logo%20.png);
*/
/*
}
*/
/*#academics-Slide-2 .bcg {
    */
/*background-size: contain;
*/
/*background-image: url(../img/Equator%20Concept%2012-31-16.png);
*/
/*
}
*/
/*#academics-Slide-3 .bcg {
    */
/*background-size: contain;
*/
/*background-image: url(../img/Equator%20Concept%2012-31-16.png);
*/
/*
}
*/


.muteVideo {
    float: left;
}
.muteVideo img {
    width: 32px;
    height: 32px;
    opacity: 0.8;
}
.muteVideo img:hover {
    opacity: 1;
}
.overlay-top {
    position: absolute;
    left: 15%;
    top: 0;
    z-index: 20;
}
.overlay-bottom {
    position: fixed;
    bottom: 0;
    left: 47%;
    z-index: 20;
}

.course-type-container {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    margin: 10px 20%;
    padding: 1.45% 1.5% 1.6%;
}

.course-type {
    text-align: left;
}

a:hover {
    font-weight: 400;
}

.about-content {
    padding-left: 7%;
    padding-right: 7%;
    font-size: 145%;
    text-align: initial;
    font-weight: 100
}

.about-content a {
    text-decoration: underline;
}

#about-header {
    text-align: center;
    position: relative;
    left: 50%;
    font-weight: 300;
    color: white;
    font-size: 275%;
    transform: translate(-50%, -50%);
}

.about-resume {
    flex: 0 0 100%;
    text-align: center;
}

.about-resume a {
    text-decoration: underline;
}

.separator {
    border-color: white;
    width: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.separator-long {
    border-color: white;
    width: 75%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.about-sm {
    flex: 0 0 100%;
    justify-content: center;
}

#resume-download {
    text-decoration: underline;
}

a, p, h1, h3, .content, .resume-label, .middle-label {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}
.content {
    width: calc(100% / 4);
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.parallax {
    position: relative;
    height: 100%;
}
.expand {
    width: var(--hover-width);
    font-size: 225%;
}

.expand > div > p.resume-label {
    font-size: 105%;
    opacity: 1;
    font-weight: 300;
}

.expand > div > p > a {
    text-decoration: underline;
}
.minimize {
    width: var(--other-width);
    font-size: 80%;
}
.middle-label {
    top: 50%;
    position: relative;
    font-size: 275%;
    font-weight: 300;
}
.middle-label:hover {
    text-decoration: underline;
}

.middle-label-wrapper {
    width: 50%;
    height: 30%;
}
.resume-label {
    top: 50%;
    position: relative;
    font-size: 150%;
    opacity: 0;
}
.full-expand {
    width: var(--expand-width);
    filter: blur(20px);
    transform: scale(1.2);
    z-index: -1;
}

.full-expand:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(8, 8, 8, 0.6);
}

.full-expand > div > p.middle-label, .full-expand > div > p.resume-label, .full-expand > div > a.resume-download {
    transform: scale3d(0.8, 0.8, 0.05);
    opacity: 0;
}
.full-minimize {
    width: var(--closed-width);
    opacity: 0;
    visibility: hidden;
}

.close-container {
    position: absolute;
    width: 50px;
    height: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1.7%;
    padding: 20px;
    z-index: 2;
}

.close-container p {
    opacity: 0;
    margin-top: 15px;
    font-weight: 100;
}

.close-right, .close-left {
    background: white;
    border-radius: 3px;
    content: " ";
    position: fixed;
    height: 3px;
    width: inherit;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}

.close-left {
    transform: rotate(45deg);
}

.close-right {
    transform: rotate(-45deg);
}

.close-container:hover .close-left, .close-container:hover .close-right, .close-container:hover p {
    transform: rotate(0);
    opacity: 1;
}

.close-container:hover .close-left, .close-container:hover .close-right {
    background-color: #c12e2a;
}

#design-box {
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    display: none;
}

/* Website ids */

#design {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/designbg.jpg);
    background-size: cover;
    justify-content: center;
}

#code {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/codebg_med.jpg);
    background-size: cover;
}

#about {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/aboutbg.jpg);
    background-size: cover;
}

#academics {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/unibg.jpg);
    background-size: cover;
}

#academics {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/experiencebg.png);
    background-size: cover;
}

#main {
    height: 100vh;
    text-align: center;
    overflow: hidden;
    text-shadow: 2px 3px 14px #383838;
    opacity: 0;
}


#code-box {
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    display: none;
}

#academics-box {
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    display: none;
    margin-bottom: 50px;
}

#academics-box .col, a {
    color: white;
}

#about-box {
    width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
    opacity: 0;
    align-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    overflow: hidden;
}

#about-box .col, a {
    color: white;
}



.slide {
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 1;
}

.academics-slide {
    flex-flow: column;
    margin-top: 2%;
    margin-bottom: 5%;
    height: auto;
    padding-top: 2%;
}

.year-header {
    width: 100%;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

.year-header h1 {
    font-size: 350% !important;
}

.slide-left {
    justify-content: flex-end;
    align-items: center;
}

.sintro-content {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sintro-content > h1 {
    font-size: 500%;
    font-weight: 400;
}

.sintro-content > h3 {
    font-size: 300%;
    font-weight: 300;
}

.slide-content {
    height: inherit;
    width: 100%;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.slide-content h1 {
    font-weight: 500;
}

.slide-content p {
    font-weight: 200;
    font-size: 150%;
    text-align: left;
}

.slide-description a {
    text-decoration: underline;
}

.slide-description h1 {
    font-weight: 500;
}

.slide-image {
    width: 80%;
}

.slide-image-replacer {
    font-weight: 300;
    font-size: 450%;
}

.fa-lg {
    font-size: 1.65em;
}

.course-name h2 {
    font-weight: 400;
    font-size: 175%;
    text-align: center;
}

.course-name {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
}

div.course-description > p, div.course-description > a {
    text-align: left;
    margin-bottom: 0;
    font-size: 16px;
}

div.course-description a {
    text-decoration: underline;
}

div.course-description b {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.course-description {
    display: flex;
    align-items: start;
    flex-flow: column;
}

.courses-list {
    margin-top: 2%;
    margin-bottom: 2%;
}

ol.assignment-list a {
    text-decoration: none;
    font-weight: 400;

}

ol.assignment-list a:hover {
    text-decoration: underline;
}

.assignment-list {
    font-weight: 300;
    text-align: left;
}

/*
Image width formatting
 */
#dslide-logo-img {
    width: 40%;
}

#dslide-playing-cards-img {
    width: 65%;
}

#dslide-mountains-img {
    width: 47%
}

#dslide-danelion-img {
    width: 75%;
}

#cslide-pause-users-img {
    width: 40%;
}

#cslide-udocgen-img {
    width: 52%;
}

/*
Loading screen styles
 */
#loading {
    z-index: 1000 !important;
    position: absolute !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#loading-image {
    /*background-image: url(../img/loading-image.JPG);*/
    background-size: contain;
    filter: blur(35px);
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    width: 200%;
    height: 200%;
    position: inherit;;
}

#loading-text {
    position: fixed;
    bottom: 37%;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-family: 'Heebo', sans-serif;
}

#first-year-link {
    text-align: right;
}

#third-year-link {
    text-align: left;
}

.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@media screen and (max-width: 1280px) {
    .slide-description > p {
        font-size: 75% !important;
    }

    .slide-description > h1 {
        font-size: 2rem !important;
    }

    .slide {
        justify-content: center !important;
        height: 75%;
    }

    .slide-content {
        height: 100% !important;
    }

    .slide-image-replacer {
        font-size: 300% !important;
    }
}

@media screen and (max-width: 1024px) {
    .content {
        flex-flow: column !important;
        width: 100% !important;
    }

    .middle-label {
        top: initial !important;
    }

    .overlay-top {
        left: 0 !important;
        top: 0 !important;
    }

    .overlay-top > .inner {
        padding-left: 12px;
        padding-top: 5px;
    }

    .overlay-bottom {
        display: none;
    }

    #cslide-intro {
        height: 100% !important;
    }

    #dslide-intro {
        height: 100% !important;
    }

    #about-header {
        font-size: 200% !important;
    }

    #main {
        flex-flow: column !important;
    }

    .about-sm {
        margin-top: 5%;
    }

    .about-content {
        font-size: 110% !important;
        margin-bottom: 1%;
    }

    .expand {
        max-height: var(--hover-height) !important;
        font-size: 180% !important;
        text-align: center;
    }

    .minimize {
        height: var(--other-height) !important;
        font-size: 80%;
    }

    .slide-right {
        justify-content: flex-end !important;
        align-items: center;
    }

    .academics-slide {
        height: auto;
    }

    .course-type-container {
        margin: 10px 10%;
    }
}
