::-webkit-scrollbar { 
    display: none; 
}
body{
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: inherit;
    font-weight: 300;
}

.ericHeader{
    font-family: 'Roboto', sans-serif;
    font-size:  60px;
    font-weight: 400;
    text-decoration-color:  -color: #FFFFFF;
    text-shadow:  1px 1px 8px #d3d3d3;
}
.footerGithub{
    padding-bottom: 2.2px;
    width: 32px;
    height: 32px;
   
}
.footerTwitter{
    padding-bottom: 1.6px;
    width: 24px;
    height: 24px;
    
}
.footerIcons{
    margin-right: -15px;
    opacity: 0.5;
}
.footerIcons:hover{
    opacity: 1;
}

.ideaTitles{
    text-align:  center;
    font-weight: 100;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.4; 
    left: 0;
}   
.text {
   color:#191919;
    font-size: 280%;
    background-color:rgba(255, 255, 255, 0.92);
    width: 100%;
    height: 100%;
    line-height:100px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    border-radius: 5px;
    
}   
.expandElement{
    position: relative;
    width: 0px;
    height:0px;
    overflow: hidden;
    transition: all linear .3s;
}

.expand {
    margin-left: 0;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #e5e5e5;
    
}
.overlayImg{
    opacity: 1;
    width: auto;
    height: auto;
    border-radius: 5px;
    max-height: 100%;
    max-width: 100%;
    box-shadow: 1px 0px 10px #d3d3d3;
}
.text:hover {
    opacity:1;
    
}
.ideaIWrapper{
    padding-top: 20px;
    background-size: cover;
    overflow: hidden;
    display: block;
    z-index: 1;
}

.fade {
   opacity: 2;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.fade:hover {   
      opacity: 0.5;
}
.white{
    color: #fff;
    font-size: 100px;
    padding-top: 10px;
}
.welcomeText{
    vertical-align: middle;
}
.bg-vid{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    height: 100%;
    width: 100%;
    position: absolute;
}
.slideContent{
    width: 100%;
    height: 100%;  
}
.landingSlide{
    margin-top: 150px;
    vertical-align: center;
}   
.aboutSlide{
    padding-top: 300px;
    padding-bottom: 100px;

}
img.scrollDown{
    width: 80px;
    height: 80px;
    margin: 30px;
    opacity: 1;
    
}
img.scrollDown:hover{
    opacity: 0.55;
}
.graphicDesignSlide{
    width: inherit;
    margin-top: 50px;
    height: 100%;
    position: relative;
}

.curtainContainer {
    width: 100%; height: 100%;
    position: relative;
}
.curtainContainer .curtain {
    width: 300%; height: 1px;
    background-color: #000000;
    position: absolute; top: 25%; left: 0;
    opacity: 0
}
.curtainContainer .copy {
    position: absolute;
    bottom: 30%; left: 0;
    width: 100%; text-align: center;
}
.curtainContainer .copy h2{
    text-align: left;
    vertical-align: middle;
    font-size: 50px;
    padding: 10px;
}
.curtainContainer .copy p{
    text-align: left;
    font-size: 30px;
    vertical-align: middle; 
    width: 45%;
    padding-left: 15px;
}
.darkenOverlay{
    background-color: #898989;
    opacity: 0.43;
}
#About-Slide .slideContent{
    min-height: 800px;
    text-align: center;
    vertical-align: middle; 
}
#About-Slide .bcg {
    background-image:url('/img/code.PNG')
}
#idea1{
    width: 200px;
    height: 258px;
}

#idea2{
    width: 200px; 
    height: 258px;
    
}

#idea3{
    width: 200px; 
    height: 258px;
}

#pic1{
    padding-left: inherit;
    height: inherit;
   
}
#pic2{
    padding-left: inherit;
    height: inherit;
   
}
#pic3{
    padding-left: inherit;
    height: inherit;
   
}
#academics{
    text-align: left;
}
#graphicDesign-Slide-1 .bcg{
    
    background-image: url('../img/misty%20pountains.png');
}
#graphicDesign-Slide-2 .bcg{
 
    background-image: url('../img/Postcard%20extra%20credit.png');
}
#graphicDesign-Slide-3 .bcg{
    background-image: url('../img/Dragon%20(3).png');
}
#graphicDesign-Slide-4 .bcg{
 background-size: cover;
    background-image: url('../img/new%20horizons%20logo.png');
}
#graphicDesign-Slide-5 .bcg{
 background-size: cover;
    background-image: url('../img/Great%20Arc%20Studios%20logo.png');
}

#graphicDesign-Slide-6 .bcg{
   background-size: cover;
    background-image: url('../img/Playing%20Card3-03.png');
}
.pauseMenuSlide{
    width: inherit;
    margin-top: 50px;
    height: 100%;
    position: relative;
}
#pauseMenu-Slide-1 .bcg{
    background-size: cover;
    background-image: url('../img/Pause%20menu%206.PNG');
}
#pauseMenu-Slide-2 .bcg{
    background-size: cover;
    background-image: url('../img/Audio%20panel.gif');
}
#pauseMenu-Slide-3 .bcg{
    background-size: cover;
    background-image: url('../img/video%20panel.gif');
}
#pauseMenu-Slide-4 .bcg{
    background-size: cover;
    background-image: url('../img/code.PNG');
}

.unitySlide{
    width: inherit;
    margin-top: 50px;
    height: 100%;
    position: relative;
}
#unitySlide-Slide-1 .bcg{
    background-size: cover;
    background-image: url('../img/Audio%20Visualizer.PNG');
    
}
#unitySlide-Slide-2 .bcg{
    background-size: cover;
    background-image: url('../img/Audio%20Visualizer%203.PNG');
}
#unitySlide-Slide-3 .bcg{
    background-size: cover;
    background-image: url('../img/Audio%20visualizer%202.PNG');
}
#unitySlide-Slide-01 .bcg{
    background-size: cover;
    background-image: url('../img/new%20horizons%20logo.png');
}
#unitySlide-Slide-02 .bcg{
    background-size: cover;
    background-image: url('../img/Island%20beach%2043.PNG');
}
#unitySlide-Slide-03 .bcg{
    background-size: cover;
    background-image: url('../img/Island%20beach%2044.PNG');
}
#unitySlide-Slide-04 .bcg{
    background-size: cover;
    background-image: url('../img/city%2010%20night%20ssr%20testing.PNG');
}
